In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
flight=pd.read_csv("flights.csv")
flight.head(3)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01-01-2013 5.00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01-01-2013 5.00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01-01-2013 5.00

# Data Cleaning

In [7]:
#To check Null value
flight.isnull().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [9]:
# Fill missing value Because We don't want to lose and we are applying fillna method with mean because Its all about the time 
Mean=flight["air_time"].mean()
Mean=flight["arr_delay"].mean()
Mean=flight["arr_time"].mean()
Mean=flight["dep_time"].mean()
Mean=flight["dep_delay"].mean()

In [11]:
flight['air_time']=flight['air_time'].fillna(Mean)
flight['arr_delay']=flight['arr_delay'].fillna(Mean)
flight['arr_time']=flight['arr_time'].fillna(Mean)
flight['dep_time']=flight['dep_time'].fillna(Mean)
flight['dep_delay']=flight['dep_delay'].fillna(Mean)
flight.isnull().sum()

year                 0
month                0
day                  0
dep_time             0
sched_dep_time       0
dep_delay            0
arr_time             0
sched_arr_time       0
arr_delay            0
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time             0
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [13]:
flight.isnull().sum()

year                 0
month                0
day                  0
dep_time             0
sched_dep_time       0
dep_delay            0
arr_time             0
sched_arr_time       0
arr_delay            0
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time             0
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

In [17]:
flight["tailnum"].unique()

array(['N14228', 'N24211', 'N619AA', ..., 'N776SK', 'N785SK', 'N557AS'],
      shape=(4044,), dtype=object)